 * {
    margin: 0;
    padding: 0;
	font-family: 'Poppins', sans-serif;
}

ul {
	list-style-type: none;
	margin-left: 37%;
	padding: 0;
}

.rating {
	margin-left: 37%;
}

main {
    width: 60%;
    margin: 0 auto;
}

h2 {
    text-align: center;
    color: rgb(111, 10, 114);
}

h2:hover {
    font-size: 30px;
}

.seccion1{
    margin-top: 35px;
}
.seccion1  p{
    margin-top: 10px;
}

.seccion2{
    margin-top: 45px;
}

.seccion2 p{
    margin-top: 10px;
}

.seccion3{
    margin-top: 55px;
}

.seccion3 p{
    margin-top: 10px;
}

img {
	max-width: 500px;
	height: auto;
}
  