 * {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
 }
 .container {
	padding: 2%;
	margin: auto;
}

ul {
	list-style-type: none;
	margin-left: 37%;
	padding: 0;
}

 main .container-sections section h2{
   color: #20165d; 
   padding: 30px 0;
   text-align: center;
 }

 .dark main .container-sections section h2{
	color: #594f96; 
	padding: 30px 0;
	text-align: center;
}

 main .container-sections {
   padding: 30px 0;
   text-align: center;
 }

 .dark main .container-sections {
	padding: 30px 0;
	text-align: center;
	color: rgb(250, 242, 242);
}


 a {
	text-decoration: none;
}
#facebook {
	color: rgb(24, 119, 242);
}
#instagram {
	color:rgb(212, 48, 137); 
}
#twitter {
	color: rgb(29, 161, 242);
}
#whatsapp {
	color: rgb(17, 218, 61);
}