 * {
     margin: 0;
     padding: 0;
     font-family: 'Poppins', sans-serif;
 }

 main .container-sections section h2{
   color: #20165d; 
   padding: 30px 0;
   text-align: center;
 }

 main .container-sections {
   padding: 30px 0;
   text-align: center;
 }
